{% extends 'base.html.twig' %}

{% block body %}


<main class="flex flex-col gap-28 max-w-[1700px] mx-auto p-12">

    <img class="absolute top-0 left-0 w-full -z-10" src="{{ asset('base/img/ls_night.png') }}" alt="">

    <div class="flex flex-col gap-12 bg-silver/75 rounded-2xl p-8">
        <h2 class="text-4xl font-semibold text-center">LS Marker - Votre Boussole Urbaine.</h2>
        <p class="flex flex-col text-black text-2xl font-semibold gap-8">
            <span>
                Bienvenue à Los Santos ! Ici, LS Marker devient votre <span class="text-neon-purple">QG numérique</span>, votre <span class="text-neon-purple">boussole urbaine</span> dans cette jungle de béton.
            </span>

            <span>
                Besoin de <span class="text-neon-purple">planifier</span> vos opérations ? De <span class="text-neon-purple">partager</span> des infos cruciales avec votre groupe ? LS Marker est là pour ça.
            </span>

            <span>
                Marquez vos planques, vos contacts, vos opérations. Tout vos <span class="text-neon-purple">lieux importants</span> seront cartographiés ici.
            </span>

            <span class="flex flex-col gap-2 pl-4">
                <span>
                    <span class="text-electric-blue font-semibold">Votre carte, votre terrain de jeu :</span> Un coup d'œil, et vous avez une <span class="text-neon-purple">vision claire</span> de votre territoire. Plus besoin de vous perdre, tout est sous contrôle.
                </span>

                <span>
                    <span class="text-electric-blue font-semibold">Le partage, votre force :</span> Partagez vos découvertes en <span class="text-neon-purple">temps réel</span>, collaborez sur les plans, et prenez le contrôle de la ville ensemble.
                </span>

                <span>
                    <span class="text-electric-blue font-semibold">Vos infos, votre avantage :</span> Chaque point marqué, c'est une piste, un contact, une opération. Tout ce qui compte pour VOUS est ici.
                </span>
            </span>
        </p>
        <p class="text-center text-3xl font-semibold text-black">LS Marker, c'est votre allié pour dominer Los Santos. Alors, qu'attendez-vous pour tracer votre chemin ?</p>

    </div>

    <div class="flex justify-around text-2xl font-semibold">
        <a href="">
            <p class="bg-neon-purple p-4 w-fit rounded-lg hover:brightness-[80%]">Documentation</p>
        </a>

        {% if app.user %}
            <a href="{{ path('app_login') }}">
                <p class="bg-neon-orange p-4 w-fit text-black font-semibold rounded-lg hover:brightness-[80%]">A la carte !</p>
            </a>
        {% else %}
         <div class="flex gap-8">
             <a href="{{ path('app_register') }}">
                 <p class="bg-electric-blue p-4 w-fit rounded-lg hover:brightness-[80%]">Inscris toi !</p>
             </a>
             <a href="{{ path('app_login') }}">
                 <p class="bg-neon-orange text-black p-4 w-fit rounded-lg hover:brightness-[80%]">Connecte toi !</p>
             </a>
         </div>
        {% endif %}

    </div>


</main>
{% endblock %}
