<footer class="justify-self-end">
    <div class="flex flex-row justify-center max-w-[1400px] w-5/6 mx-auto">
        <p class="text-xl text-center font-medium">Tous droits réservés. <a href="https://maatyss.fr">Maatyss</a> - {{ 'now' | date('Y') }}</p>
    </div>
</footer>