<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LS Local{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-black text-lavender">

    <header class="flex justify-between items-center p-12 max-w-[1700px] mx-auto">
        <a href="/">
            <img class="w-20 h-20 rounded-xl" src="{{ asset('base/img/icon.jpg') }}" alt="">
        </a>

        <h1 class="text-neon-orange text-6xl font-bold">LS LOCAL</h1>
        <svg class="h-12 w-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="lavender" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/>
        </svg>
    </header>

        {% block body %}{% endblock %}

    <footer>

    </footer>

    </body>
</html>
